@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Adamina|Libre+Baskerville|Taviraj&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin: 0 10px;
}

.friend-form {
  margin-bottom: 10px;
}

form > * {
  margin: 0 5px;
  padding: 3px 10px;
  border-radius: 7px;
  /* font-family: 'Montserrat'; */
  font-size: 15px;
  font-weight: bold;
}

 button {
   color: white;
   background-color: dodgerblue;
 }

.friends-list {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  width: 90%;
  flex-wrap: wrap;
  /* border: 1px solid red; */
}

.friend-card {
  border: 5px solid black;
  border-radius: 10px;
  /* padding: 10px; */
  margin: 10px;
  width: 300px;
  /* font-weight: bold; */
}

.friends {
  font-family: 'Caveat', cursive;
  letter-spacing: 1px;
  font-size: 20px;
  color: white;
  background-color: black;
  border: 5px solid khaki;
  /* box-shadow: 5px 5px 5px red inset; */
  /* -webkit-text-stroke: 0.00000125e m red; */
}

.friends p {
  color: skyblue;
}

.seinfeld {
  font-family: 'Taviraj', serif;
  font-style: italic;
  color: red;
  background-color: gold;
}